In [1]:
# 1. Insureance problems:
SELECT SUM(TIV_2012) as TIV_2012
FROM insurance
WHERE CONCAT(LAT, ',', LON)
in (SELECT CONCAT(LAT, ',', LON)
   From insurance 
   Group By LAT, LON
   HAVING COUNT(1)=1 )
and TIV_2011 in 
(SELECT TIV_2011 
 From Insurance 
 Group by TIV_2011
 HAVING Count(1)>1)

SyntaxError: invalid syntax (<ipython-input-1-07eca44778f5>, line 2)

In [ ]:
# 2. BLOOD doner and acceptor:
SELECT t.GENDER, t.BG, SUM(t.COUNTVALUE) TOTAL
FROM (
    SELECT GENDER,BG,COUNT(BG) COUNTVALUE FROM DONOR GROUP BY GENDER,BG
    UNION ALL
    SELECT GENDER,BG,COUNT(BG) COUNTVALUE FROM ACCEPTOR GROUP BY GENDER,BG
) AS t
GROUP BY t.GENDER, t.BG

In [ ]:
# 
SELECT Max(Salary) SecondHighestSalary
FROM Employee WHERE Salary < (SELECT MAX(Salary) FROM Employee)

#Solution 2:
WITH CTE AS (SELECT DISTINCT Salary
FROM Employee
ORDER BY Salary DESC
LIMIT 2)

SELECT Salary as SecondHighestSalary
FROM CTE
ORDER BY Salary Asc
LIMIT 1;

#Solution 3:
WITH CTE AS
(
    SELECT Salary,
           DENSE_RANK() OVER (ORDER BY Salary DESC) AS DENSERANK
    FROM Employee
)
SELECT Salary SecondHighestSalary
FROM CTE
WHERE DENSERANK = 2;

In [ ]:
# 4. Nth Highest Salary
SET N= N-1;
  RETURN (
      # Write your MySQL query statement below.
      SELECT DISTINCT Salary FROM Employee ORDER BY Salary DESC
      LIMIT 1 OFFSET N
      
  );
    

SELECT score, Dense_Rank() over (Order by score DESC) as 'rank' from Scores

SELECT Email
FROM Person
GROUP BY Email
HAVING count(*) > 1



Groupby having 

WITH CTE AS(
SELECT Email, ROW_NUMBER() OVER(PARTITION BY Email ORDER BY Email) AS RN
    FROM Person
)

SELECT Email
FROM CTE
WHERE RN > 1;

In [ ]:
# 185. Department Top Three Salaries

WITH department_ranking AS (
SELECT Name AS Employee, Salary ,DepartmentId
  ,DENSE_RANK() OVER (PARTITION BY DepartmentId ORDER BY Salary DESC) AS rnk
FROM Employee
)

SELECT d.Name AS Department, r.Employee, r.Salary
FROM department_ranking AS r
JOIN Department AS d
ON r.DepartmentId = d.Id
WHERE r.rnk <= 3
ORDER BY d.Name ASC, r.Salary DESC;

In [ ]:
Datediff
# Write your MySQL query statement below
# 262: Trips and Users 
    
select request_at as Day,
 ROUND(SUM(IF(status <>"completed", 1, 0))/Count(status), 2) as "Cancellation Rate"
 from Trips
 where request_at between '2013-10-01' and '2013-10-03'
 and client_id not in (select users_id from Users where banned= 'yes' )
 and driver_id not in (select users_id from Users where banned= 'yes' )
 group by request_at

In [ ]:
512. Game Play Analysis II
#Solution- 1:
SELECT DISTINCT player_id, device_id
FROM Activity
WHERE (player_id, event_date) in (
    SELECT player_id, min(event_date)
    FROM Activity
    GROUP BY player_id)

#Solution- 2:
SELECT a.player_id, b.device_id
FROM
(SELECT player_id, MIN(event_date) AS event_date FROM Activity
GROUP BY player_id) a
JOIN Activity b
ON a.player_id = b.player_id AND a.event_date = b.event_date;

#Solution- 3:
SELECT player_id, device_id
FROM
(SELECT player_id, device_id, event_date,
ROW_NUMBER() OVER (PARTITION BY player_id ORDER BY event_date) AS r
FROM Activity) lookup
WHERE r = 1;

In [ ]:
# 534. Game Play Analysis III | Medium 

#Solution- 2:
SELECT player_id, event_date,
SUM(games_played) OVER (PARTITION BY player_id ORDER BY event_date) AS games_played_so_far
FROM Activity;

#Solution- 1:
SELECT t1.player_id, t1.event_date, SUM(t2.games_played) as games_played_so_far
FROM Activity t1
JOIN Activity t2
ON t1.player_id = t2.player_id
WHERE t1.event_date >= t2.event_date
GROUP BY t1.player_id, t1.event_date;

In [ ]:
550. Game Play Analysis IV | Medium |
Select round(count (a1.event_date)/ )
from Activity a1 join Activity a2 
on a1.palyer_id = a2.player_id
and a1.games_palyed>0 and a2.game_played>0 and Datediff(a2.event_date , a1,event_date_=1
group by player_id   
                                                        
SELECT ROUND(sum(CASE WHEN t1.event_date = t2.first_event+1 THEN 1 ELSE 0 END)/COUNT(DISTINCT t1.player_id), 2) AS fraction
FROM Activity t1
JOIN
    (SELECT player_id, MIN(event_date) AS first_event
    FROM Activity
    GROUP BY player_id) t2
    ON t1.player_id = t2.player_id;

#Solution- 2:
SELECT ROUND(COUNT(DISTINCT b.player_id)/COUNT(DISTINCT a.player_id),2) AS fraction
FROM
  (SELECT player_id, MIN(event_date) AS event_date FROM Activity
  GROUP BY player_id) a
  LEFT JOIN Activity b
  ON a.player_id = b.player_id AND a.event_date+1 = b.event_date;

In [ ]:
select distinct s1.*
from Stadium s1 Join Stadium s2 Join Stadium s3
on (s1.id= s2.id-1 and s1.id= s3.id-2) or
(s1.id= s2.id+1 and s1.id= s3.id-1) or
(s1.id= s2.id+2 and s1.id= s3.id+1)
where s1.people>=100 and s2.people>=100 and s3.people>=100
order by visit_date

In [ ]:
select 
from 

select A.requester_id as id, A.c1 + B.c2 as num from 
((select requester_id as id, count(requester_id) as num
from request_accepted  
group by requester_id) 
union all 
(select accepter_id as id, count(accepter_id) as num
from request_accepted 
group by accepter_id) ) as t
on A.requester_id = B. accepter_id